<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Add a new title, please.</title>
		<meta http-equiv="Content-Type" content="text/html" charset=UTF-8/>
	</head>
	
	<body>
		<div>
			<form th:object="${book}" th:action="@{/save}" action="#" method="post">
				<p>Author <input type="text" th:field="*{author}"/> </p>
				<p>Title <input type="text" th:field="*{title}"/> </p>
				<p>ISBN <input type="text" th:field="*{isbn}"/> </p>
				<p>Year <input type="text" th:field="*{year}"/> </p>
				<p>Price <input type="text" th:field="*{price}"/> </p>
				
				<select id="deplist" th:field="*{category}" class="form-control">
					<option th:each="category: ${groups}"
							th:value="${category.categoryid}"
							th:text="${category.name}">
					</option>
				</select>
				
				<p> <input type="submit" value="Submit"/> </p>
			</form>
		</div>
	</body>
</html>